*.log
.DS_Store
*.goutputstream-*
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.playwright-cli
/auth.json
/node_modules
/database/*.sqlite
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/phpstan
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
