parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Domain\\Campaign\\CampaignParticipantResolver\:\:participantUserIds\(\) should return Illuminate\\Support\\Collection\<int, int\> but returns Illuminate\\Support\\Collection\<int, int\<1, max\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Domain/Campaign/CampaignParticipantResolver.php

		-
			message: '#^Property App\\Models\\Character\:\:\$inventory \(string\|null\) does not accept array\<int, array\<string, bool\|int\|string\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Domain/Post/PostInventoryAwardService.php

		-
			message: '#^Property App\\Models\\Post\:\:\$meta \(string\|null\) does not accept array\<string, array\<string, bool\|int\|string\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Domain/Post/PostInventoryAwardService.php

		-
			message: '#^Property App\\Models\\Post\:\:\$meta \(string\|null\) does not accept array\<string, array\<string, int\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Domain/Post/PostProbeService.php

		-
			message: '#^Property App\\Models\\Character\:\:\$inventory \(string\|null\) does not accept array\<int, array\<string, bool\|int\|string\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Domain/Scene/SceneInventoryQuickActionService.php

		-
			message: '#^Call to function is_array\(\) with \*NEVER\* will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Models/Character.php

		-
			message: '#^Call to function is_string\(\) with \*NEVER\* will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Models/Character.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: app/Models/Character.php

		-
			message: '#^Offset ''equipped'' on \*NEVER\* on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Models/Character.php

		-
			message: '#^Offset ''item'' on \*NEVER\* on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Models/Character.php

		-
			message: '#^Offset ''name'' on \*NEVER\* on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Models/Character.php

		-
			message: '#^Offset ''protection'' on \*NEVER\* on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Models/Character.php

		-
			message: '#^Offset ''protection'' on array\{name\: string, protection\: int, equipped\: bool\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Models/Character.php

		-
			message: '#^Offset ''rs'' on \*NEVER\* on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Models/Character.php

		-
			message: '#^Parameter \#1 \$array \(array\{\}\) to function array_values is empty, call has no effect\.$#'
			identifier: arrayValues.empty
			count: 1
			path: app/Models/Character.php
