includes:
    - vendor/larastan/larastan/extension.neon

parametersSchema:
    controllerGuardrailWhitelist: listOf(string())

parameters:
    level: 8
    paths:
        - app
        - routes
        - database/migrations
    tmpDir: storage/phpstan
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    controllerGuardrailWhitelist: []

services:
    -
        class: App\StaticAnalysis\PHPStan\Rules\NoDirectPersistenceInControllersRule
        arguments:
            - %currentWorkingDirectory%
            - %controllerGuardrailWhitelist%
        tags:
            - phpstan.rules.rule
    -
        class: App\StaticAnalysis\PHPStan\Rules\NoTransactionInControllersRule
        arguments:
            - %currentWorkingDirectory%
            - %controllerGuardrailWhitelist%
        tags:
            - phpstan.rules.rule
